<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhe do Ninja</title>

    <link rel="stylesheet" th:href="@{/css/detalhesNinja.css}">

</head>
<body>
<div>
    <h1>Detalhe do Ninja</h1>

    <img th:src="${ninja.imgUrl}" alt="${ninja.name}" width="200" />
    <h2 th:text="${ninja.name}"></h2>
    <p><strong>Email:</strong> <span th:text="${ninja.email}"></span></p>
    <p><strong>Idade:</strong> <span th:text="${ninja.idade}"></span></p>
    <p><strong>Rank:</strong> <span th:text="${ninja.rank}"></span></p>


    <h3>Missões</h3>

    <table>

        <thead>
        <tr>
            <th>Nome</th>
            <th>Dificuldade</th>
            <th>Descrição</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="missao : ${ninja.missoes}">
            <td th:text="${missao.nome}"></td>
            <td th:text="${missao.dificuldade}"></td>
            <td th:text="${missao.descricao}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="bnt_acoes">
    <a href="/ninjas/ui/listar"> Voltar para lista de ninjas</a>
    <a th:href="@{/ninjas/ui/alterar/{id}(id=${ninja.id})}" class="btn-blue">Alterar</a>
</div>



</body>
</html>
