<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de Ninjas</title>

    <link rel="stylesheet" th:href="@{/css/listarNinja.css?v=3}">


</head>
<body>

<h1>Tabela de Ninjas</h1>

<a th:href="@{/ninjas/ui/adicionar}" class="btn-add">Adicionar Novo Ninja</a>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Imagem</th>
        <th>Nome</th>
        <th>Idade</th>
        <th>Email</th>
        <th>Rank</th>
        <th>Missões</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ninja : ${ninjas}">
        <td th:text="${ninja.id}"></td>
        <td><img th:src="${ninja.imgUrl}" width="100" height="100"></td>
        <td th:text="${ninja.name}"></td>
        <td th:text="${ninja.idade}"></td>
        <td th:text="${ninja.email}"></td>
        <td th:text="${ninja.rank}"></td>
        <td>
                <span th:if="${ninja.missoes}">
                    Nome: <span th:text="${ninja.missoes.nome}"></span>, <br>
                    Dificuldade: <span th:text="${ninja.missoes.dificuldade}"></span>,
                </span>
            <span th:if="${ninja.missoes == null}">Sem Missões</span>
        </td>

        <td class="acoes">
            <a th:href="@{/ninjas/ui/alterar/{id}(id=${ninja.id})}" class="btn-blue">Alterar</a>
            <a th:href="@{/ninjas/ui/listar/{id}(id=${ninja.id})}" class="btn-green">Detalhes</a>
            <a th:href="@{/ninjas/ui/deletar/{id}(id=${ninja.id})}" class="btn-red">Deletar</a>
        </td>



    </tr>
    </tbody>
</table>

</body>
</html>
